<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Highchart graph -->
        <script src="https://code.highcharts.com/highcharts.js"></script>
        <script src="https://code.highcharts.com/modules/exporting.js"></script>
        <script src="https://code.highcharts.com/modules/export-data.js"></script>
        <script src="https://code.highcharts.com/modules/accessibility.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

        <!-- Meta Information -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snuffleupagusses</title>

        <!-- Leaflet Packages -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>


        <!-- Our CSS styling. -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
        <!-- D3 -->
        <link rel="stylesheet" type="text/css" href="../static/css/d3Style.css">

        <!-- Passing Config Vars -->
        <script type='text/javascript'>
            const API_KEY = '{{ data.API_KEY }}'
            const mapQuestKey = '{{ data.mapQuestKey }}'
        </script>
    </head>
    <style>
        body {background-color: #7c6e7f;}
        h1   {
            color: #3f3f4e;
            font-family: Krona -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-size: 250%;}
        p    {
             color:#c5c6c0;
             width: 300;
            font-family: 'Helvetica Neue';
            font-size: 120%;}
        </style>
    <body>

        <hr>
        <!-- Divs for Visualizations -->
        <div class='container'>
            <div class="row">
                <div class='col-md-12 jumbotron text-center'>
                  <h2>High Speed Internet Access</h2>

                  <p></p>
                  <h3></h3>
                  <p>The events of the last year have shown us how important high speed internet access is in modern society. With many people working from home,
                     e-learning for students and countless social events changed from in-person to virtual, we have come to appreciate the value
                      of a reliable internet connection. This begs the question, who has access to this valuable resource?</p>
                  <p>The following visualizations explore the relationship between high speed internet access and community measures such as median income, population,
                       and education level. Internet speed data was sourced from the FCC and demographic information from the US Census. High speed internet
                       was defined as download speeds of 25 megabytes per second or greater, which is the FCC limit for broadband internet.</p>
                  <p>As demonstrated by the visualizations below, the greatest indicator we measured of increased access to high speed internet
                     is an increase in educated population. There is a strong correlation between populations with higher education levels
                      and increased high speed internet access.</p>
                </div>
            </div>
        </div><br><br>
        <div class='container'>
            <h3 class='underlined-header'>High Speed Internet Access vs Median Income</h3>
            <h6>Map Layers</h6>
            <ul>
                <li>High Speed Access: The total population with access to high speed internet in a given city.</li>
                <li>Median Income: The median income for a city.</li>
                <li>High Speed Internet Access Rate: The percentage of a city's population with access to high speed internet.</li>
            </ul>
            <div class="row">
                <div class="col-md-2">
                    <div class="well">
                        <h5>Select a Region:</h5>
                        <select id='mapDataset'>
                            <option value='all-states'>All States</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id='map'></div>
        <div class='container' id='snufLegend'>
            <div class='row'>
                <h3>Map Color Legends</h3>
                <div id='hsiLegend' class='col-md-4 col-sm-12 snufLegendThird'>
                    <h5>High Speed Internet</h5>
                    <p class='units'>(population with access)</p>
                    <ul class='snufLegendLabels'>
                        <li><span style='background:#ffffff;'></span><p>0-10000</p></li>
                        <li><span style='background:#f7fcf0;'></span><p>10000</p></li>
                        <li><span style='background:#e0f3db;'></span><p>25000</p></li>
                        <li><span style='background:#ccebc5;'></span><p>50000</p></li>
                        <li><span style='background:#a8ddb5;'></span><p>75000</p></li>
                        <li><span style='background:#7bccc4;'></span><p>100000</p></li>
                        <li><span style='background:#4eb3d3;'></span><p>250000</p></li>
                        <li><span style='background:#2b8cbe;'></span><p>500000</p></li>
                        <li><span style='background:#0868ac;'></span><p>750000</p></li>
                        <li><span style='background:#084081;'></span><p>1000000+</p></li>
                    </ul>
                </div>
                <div id='miLegend' class='col-md-4 col-sm-12 snufLegendThird'>
                    <h5>Median Income</h5>
                    <p class='units'>(in USD)</p>
                    <ul class='snufLegendLabels'>
                        <li><span style='background:#ffffff;'></span><p>0-20000</p></li>
                        <li><span style='background:#fff7ec;'></span><p>20000</p></li>
                        <li><span style='background:#fee8c8;'></span><p>30000</p></li>
                        <li><span style='background:#fdd49e;'></span><p>40000</p></li>
                        <li><span style='background:#fdbb84;'></span><p>50000</p></li>
                        <li><span style='background:#fc8d59;'></span><p>60000</p></li>
                        <li><span style='background:#ef6548;'></span><p>70000</p></li>
                        <li><span style='background:#d7301f;'></span><p>80000</p></li>
                        <li><span style='background:#b30000;'></span><p>90000</p></li>
                        <li><span style='background:#7f0000;'></span><p>100000+</p></li>
                    </ul>
                </div>
                <div id='hsiarLegend' class='col-md-4 col-sm-12 snufLegendThird'>
                    <h5>Access Rate</h5>
                    <p class='units'>(percentage of population with access)</p>
                    <ul class='snufLegendLabels'>
                        <li><span style='background:#ffffff;'></span><p>0-10</p></li>
                        <li><span style='background:#fcfbfd;'></span><p>10</p></li>
                        <li><span style='background:#efedf5;'></span><p>20</p></li>
                        <li><span style='background:#dadaeb;'></span><p>30</p></li>
                        <li><span style='background:#bcbddc;'></span><p>40</p></li>
                        <li><span style='background:#9e9ac8;'></span><p>50</p></li>
                        <li><span style='background:#807dba;'></span><p>60</p></li>
                        <li><span style='background:#6a51a3;'></span><p>70</p></li>
                        <li><span style='background:#54278f;'></span><p>80</p></li>
                        <li><span style='background:#3f007d;'></span><p>90+</p></li>
                    </ul>
                </div>
            </div>
            <div class='row'>
                <h3 class='snufLegendText'>Circle Radius Legend</h3>
                <p class='snufLegendText'>
                    For the national map, the circle radii are determined by taking the square root of a city's population and multiplying it by 100. 
                    This maintains the relative scaling of cities with different populations while reducing the cluttered feel 
                    that is present on the map with larger city radii.<br><br>The same principle is applied to individual state 
                    maps, though on a smaller scale. The square root of a city's population is multiplied only by 50 to compensate 
                    for the smaller scale.
                </p>
            </div>
        </div>
        <div class='container'>
            <h3 class='underlined-header'>High Speed Internet Access vs Income and Education</h3>
            <p></p>
            <div class="row">
                <div class="col-md-2">
                    <div class="well">
                        <h5>Select a Region:</h5>
                        <select id='selDataset'>
                            <option value='all-states'>All States</option>
                        </select>
                    </div>
                    <div>
                        <div id='sp-demographics'></div>
                    </div>
                </div>
                <div class='col-md-10'>
                    <div class="scatterplot"></div>
                </div>
            </div>
        </div>
        <!-- Div for Highcart Graph -->
        <figure class="highcharts-figure">
            <h3 class='underlined-header'>State Education Breakdown</h3>
            <p></p>
            <div id="container2"></div>
            <p class="highcharts-description">
                *To see a complete chart of each state and their education levels, click on the hamburger menu (≡) at
                the top right corner of the graph and select 'View Data Table'.
            </p>
        </figure>
        <!-- Methodology and Data -->
        <div class='container'>
            <div class="row">
                <div class='col-md-12 jumbotron text-center'>
                    <h2>Methodology and Data</h2>
                    <hr>
                    <p></p>
                    <h4>Data Sources</h4>

                      <p>
                        <a href="https://opendata.fcc.gov/Wireline/Geography-Lookup-Table/v5vt-e7vw">Latitude / Longitude Data</a>
                      </p>
                      <p>
                        <a href="https://opendata.fcc.gov/Wireline/Area-Table-June-2020-V1/ktav-pdj7">Internet Speed Data</a>
                      </p>
                      <p>
                        <a href="https://simplemaps.com/data/us-zips">Zipcode Data</a>
                      </p>
                      <p>
                        <a href="https://www.census.gov/data/developers/guidance/api-user-guide.html">Community Measures</a>
                      </p>

                    <p></p>
                    <h4>Methodology</h4>

                    <p></p>
                    <p>FCC data was used to get information on high speed internet access and geographical information
                      (city, lat, lon). Demographic information was pulled from the Census API.
                      Due to difficulties pulling Census data by city name and state, zipcode data was pulled in to
                      match up demographic data with the internet and geographical data.</p>
                    <p>The ETL processes were completed using Python in Jupyter Notebooks. The cleaned data
                      was loaded into a MongoDB database. The visualizations are powered by an api, view the api homepage
                      <a href="/api">here.</a>
                     Visualizations were created using <a href="https://leafletjs.com/examples/quick-start/">Leaflet</a>
                     and <a href="https://www.highcharts.com/demo/bar-stacked">Highcharts</a></p>
                     <p>For more information about this project, visit the github repo
                       <a href="https://github.com/jacobdv/snuffleupagusses">here.</a></p>
                </div>
            </div>
        </div><br><br>

        <!-- D3 Script -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.7.1/d3-tip.min.js"></script>
        <!-- Bootstrap Script -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
        <!-- Config File for Mapbox -->
        <script type="text/javascript" src="../static/js/constants.js"></script>
        <!-- Visualization Scripts -->
        <script type="text/javascript" src="../static/js/highSpeedMap.js"></script>
        <script type="text/javascript" src="../static/js/scatterplot.js"></script>
        <script type='text/javascript' src="../static/js/highchartsMap.js"></script>
    </body>
</html>
