<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta Information -->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snuffleupagusses</title>

        <!-- Leaflet Packages -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
            integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
            crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
            integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
            crossorigin=""></script>
    
        <!-- Our CSS styling. -->
        <link rel="stylesheet" type="text/css" href="../static/css/style.css">
        <!-- D3 -->
        <link rel="stylesheet" type="text/css" href="../static/css/d3Style.css">
    </head>
    <body>
        <!-- Divs for Visualizations -->
        <div class='container'>
            <div class="row">
                <div class='col-md-12 jumbotron text-center'>
                    <h1>Snuffleupagusses</h1>
                </div>
            </div>
        </div>
        <div class='container'>
            <div class="row">
                <div class="col-md-2">
                    <div class="well">
                        <h5>Select a Region:</h5>
                        <select id='mapDataset'>
                            <option value='all-states'>All States</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div id='map'></div>
        <div class='container'>
            <div class="row">
                <div class="col-md-2">
                    <div class="well">
                        <h5>Select a Region:</h5>
                        <select id='selDataset'>
                            <option value='all-states'>All States</option>
                        </select>
                    </div>
                </div>
                <div class='col-md-10'>
                    <div class="scatterplot"></div>
                </div>
            </div>
        </div>





        <!-- D3 Script -->
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <!-- Config File for Mapbox -->
        <script type="text/javascript" src="../static/js/config.js"></script>
        <script type="text/javascript" src="../static/js/constants.js"></script>
        <!-- Visualization Scripts -->
        <script type="text/javascript" src="../static/js/highSpeedMap.js"></script>
        <script type="text/javascript" src="../static/js/scatterplot.js"></script>
    </body>
</html>